.hidden-b {
    display: none !important;
}
.alert-zdy {
    position: fixed;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 5px;
    z-index: 1051;
    transform: translate(-50%, -50%);
}
.alert-close {
    display: inline-block;
    padding: 0 0 0 10px;
    color: gray;
    cursor: pointer;
}

.btn-copy {
    display: block;
    margin: auto;
    border: none;
    color: #fff;
    text-wrap: nowrap;
    background-color: #dc3545;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

[data-theme="dark"] {
    .scroll-request span {
        background: white;
    }
    #grid-b a.box-b {
        color: #d1d1d1;
        background-color: #222;
    }
    .alert-zdy {
        color: black;
        background-color: rgb(255 255 255 / 90%);
    }
}
#myModal #modal-div {
    .modal-content-b[id^="magnet"] {
        [data-theme="light"]& {
            background-color: rgb(255 255 255 / 90%);
        }
    }
    article.message {
        margin-bottom: 0;
    }
}
.max-width-100 {
    max-width: 100% !important;
}
